h1
{
    color: Black; 
}

p
{
    color: white;
}

body
{
    background-color : black;
}

#carte
{
    width: 900px;
    margin:0 auto;
    background-color: red;
    text-align: center;
    align-content: center;
}